.avatar {
    width: 70px;
    height: 70px;
}

.containerGrid {
    border-radius: 12px;
    padding: 17px;
    width: fit-content;
    margin: 40px auto;
}

.grid {
    height: 300px;
    overflow-y: auto;
    width: 700px;
}

.listItem {
    width: fit-content;
}
